:root{

}

* {
    box-sizing: border-box;
    position: relative;
}


body {
    background-color: slategrey;
    text-align: center;
    font-family: "Gill Sans MT";
}

nav > ul {
    list-style-type: none;
    font-weight: bold;
}

section {
    border: 8px outset magenta;
    background-color: black;
    color: snow;
}

.small-image {
    max-width: 400px;
}

.list {
    list-style-position: outside;
    list-style-type: circle;
}

footer {
    background-color: black;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .small-image {
        max-width: 250px;
    }
}